#faqBody{
    background-image: linear-gradient(white, lightblue);
    margin-bottom: 10%;
}
#faqBody ol{
    padding-left: 10%;
}


#myInput {
    width: 300px;
    padding: 20px;
    font-weight: bold;
    font-size: large;
}

.ask{
    width: 30%;
    height: 20%;
    
}
#askField textarea{
    width: 100%;
    height: 90%;
}

#qNotFound {
    color: red;
    font-size: large;

}

ul {
    list-style-type: none;
}