/*Store*/

#storeBody{
    background-color: white;
}

.shopImages:hover{

}

.shopImages img{
    border: solid;
    border-color: #333;
}

.shopImages img:hover{
    border-color:aquamarine;

}

#shopFooter{
    padding: 20px;
    background-color: #333;
    color: #333;
}


/* Vehicle Pages */
.vehiclePage{
    background-image: radial-gradient(lightgray,#333);
    size: 100%;
}
.vehiclePage button{
    width: 90px;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 15pt;
}
.infoField{
    background-color: black;
    color: white;
    width: 50%;
}
.infoField legend{
    background-color: black;
}
